* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

body {
 
  /* overflow: hidden; */
  background-color: rgb(31, 31, 31);

}

#header {
  width: 100%;
  height: 100vh;
  background-image: url(image/vampy.png);
  background-size: cover ;
  background-position: center;
  
}

.container{
  padding: 10px, 10% ;
}

nav img{
  width: 130px;
  height: auto;
  display: block;
}